:root { 
--deep_orange_50:#f8e5e0; 
--gray_50_01:#f3f5ff; 
--blue_gray_50:#eff0f2; 
--red_800:#be2136; 
--red_300:#eb7a65; 
--green_900:#008000; 
--gray_800_01:#494949; 
--gray_50:#ffeefc; 
--red_50:#ffefeb; 
--yellow_A400:#fbef03; 
--black_900:#000000; 
--gray_500_01:#a4a4a4; 
--indigo_50_01:#e4e7ed; 
--blue_gray_800:#293465; 
--blue_gray_900:#333333; 
--gray_600:#828282; 
--gray_900_02:#151515; 
--gray_900_03:#1f2416; 
--gray_900_04:#001435; 
--blue_900:#054ca4; 
--gray_400:#bdbdbd; 
--gray_500:#adadad; 
--gray_600_01:#808080; 
--gray_800:#4f4f4f; 
--indigo_50:#ebeefa; 
--gray_900:#1e1e1e; 
--gray_900_01:#181a1d; 
--teal_A100:#a9f9e1; 
--gray_200:#e6e7e9; 
--gray_300:#d9deed; 
--blue_50:#e4e9ff; 
--gray_100:#f5f5f9; 
--white_A700_00:#ffffff00; 
--white_A700_01:#fefefe; 
--indigo_900:#303179; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}